@media (max-width: 1200px) {
    .mobile-icons__container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .header__mobile-profile {
        display: block;
    }
    .header__profile {
        display: none;
    }
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-category {
        right: 40%;
    }
}

@media (max-width: 992px) {
    .main-menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 100px 0px 0px;
        background: rgba(13,86,115,.99);
        z-index: 100;
        transition: all .6s ease-in-out;
    }
    .main-menu.show {
        left: 0;
        transition: all .6s ease-in-out;
    }
    .active-close-btn {
        display: block;
        opacity: 1;
        transition: all .6s ease-in-out;
    }
    .main-menu li a {
        color: #ffffff;
        font-size: 22px;
        padding: 10px 15px 50px;
    }
    .header__mobile-menu {
        display: block;
    }
    .header__language {
        display: none;
    }
    .diagram-section .section-headline {
        padding-bottom: 60px;
    }
    .diagram-section__content {
        flex-wrap: wrap;
        align-items: flex-start;
        background-image: none;
    }
    .diagram-section__item {
        max-width: 100%;
    }
    .diagram-1,
    .diagram-2,
    .diagram-3,
    .diagram-4 {
        margin: 0;
    }
    .diagram-section__item {
        flex: 0 0 50%;
        padding: 15px;
    }
    .coursefor-section__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .coursefor-section__item {
        max-width: 100%;
    }
    .blog-category {
        right: 36%;
    }    
    .main-footer,
    .footer-links {
        flex-direction: column;
    }
    .footer-logo {
        padding-right: 0;
    }
    .footer-social {
        margin-left: 0;
    }
    .footer-logo,
    .footer-menu,
    .footer-social {
        padding-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .headline {
        font-size: 32px;
    }
    .coursefor-section__content {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-category {
        right: 42%;
    }
    .scroll-to-top {
        left: 15px;
    }
}

@media (max-width: 550px) {
    .courses-slider{
        margin: 0;
    }
    .courses-slider__item {
        margin: 0 10px;
    }
}

@media (max-width: 425px) {
    .col-6 {
        flex: 0 0 100%;
    }
    .hero {
        padding-top: 150px;
    }
    .diagram-section__item {
        flex: 0 0 100%;
    }
    .blog-category {
        right: 35%;
    }
}